<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <!--  TO IMPLEMENT A LIMIT ON THE NUMBER OF BLOGS THAT APPEAR ON THE INDEX PAGE
    <% for(var i=0; i < 3; i++){ %>
<div>
    <h2><%= blogs[i].title %></h2>
    <h3><%= blogs[i].image %></h3>
    <h5><%= blogs[i].created %></h5>
    <a href="/blogs/<%= blogs[i]._id%>">Read More</a>

</div>

<% } %>-->
</body>
</html>